<div class="product-description borderbtm">
<div class="page-width">
<div class="prod_desc">
<div class="descheading">
<div class="section-header text-left">
<h2>Description</h2>
</div>
</div>

<div class="desctext">
{{ product.description }}
</div>
  
</div>
</div>
  </div>

{% schema %}
  {
    "name": "Product Description",
    "settings": [],
              "presets": [
    {
      "name": "Product Description"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}